---
import { projects } from "@/data/projects";
import ProjectCard from "@/components/ProjectCard.astro";
import SectionTitle from "@/components/SectionTitle.astro";

const { t } = Astro.props;
---

<section>
  <SectionTitle text={t["projects.title"]} />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {
      projects.map(({ url, githubUrl, name, i18nKey, technologies }) => (
        <ProjectCard
          url={url}
          githubUrl={githubUrl}
          name={name}
          description={t[i18nKey]}
          technologies={technologies}
        />
      ))
    }
  </div>
</section>
