---
import { Icon } from "astro-icon/components";
import ExternalLink from "@/components/ExternalLink.astro";

const { url, githubUrl, name, description, technologies } = Astro.props;
---

<div class="border border-black dark:border-white p-6 pb-7 flex flex-col group">
  <div class="flex items-center justify-between">
    <ExternalLink href={url} class="gap-2">
      <h4 class="text-2xl font-serif font-semibold italic">
        {name}
      </h4>
    </ExternalLink>
    <a
      href={githubUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="h-6 w-6 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity dark:hover:text-blue-700 hover:text-blue-600"
    >
      <Icon name="simple-icons:github" size={20} />
    </a>
  </div>
  <p class="mt-2 text-sm">{description}</p>
  <p class="mt-3.5 italic font-serif font-semibold text-sm">
    {technologies}
  </p>
</div>
